.eye{
    margin-left: -40px;
   height: 23px;
   margin-top: 8px;
   cursor: pointer;
}

.pass-card{
    width:40%;
    margin-top:5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}